version: "3.8"

services:
  rfng-backend-service:
    platform: linux/arm64/v8
    image: 574309367192.dkr.ecr.us-west-2.amazonaws.com/rfng-backend:latest
    container_name: rfng-backend
    # command: sh -c "cd /app/ && npm install && npm start"
    volumes:
      - ./backend:/app
      - ./backend/node_modules:/app/node_modules
      - rfng_logs:/app/logs
    ports:
      - "3100:3100"
    depends_on:
      - rfng-mongodb-service
      - rfng-mysql-service
    environment:
      - NODE_ENV=development
    networks:
      rfng-net:
        ipv4_address: 172.50.1.1

  rfng-frontend-service:
    platform: linux/arm64/v8
    image: 574309367192.dkr.ecr.us-west-2.amazonaws.com/rfng-frontend:latest
    container_name: rfng-frontend
    # command: sh -c "cd /app/ && npm install && npm start"
    volumes:
      - ./frontend:/app
      - ./frontend/node_modules:/app/node_modules
    depends_on:
      - rfng-backend-service
    ports:
      - "3000:3000"
    networks:
      rfng-net:
        ipv4_address: 172.50.1.2

  rfng-mongodb-service:
    image: 574309367192.dkr.ecr.us-west-2.amazonaws.com/rfng-mongo:latest
    platform: linux/arm64/v8
    container_name: rfng-mongodb
    restart: always
    # environment:
    #   # provide your credentials here
    #   - MONGO_INITDB_ROOT_USERNAME=root
    #   - MONGO_INITDB_ROOT_PASSWORD=root
    #   - MONGODB_DATABASE=devrfng
    #   - MONGODB_USER=user
    #   - MONGODB_PASSWORD=password
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27018:27017"
    networks:
      rfng-net:
        ipv4_address: 172.50.1.3

  rfng-mysql-service:
    image: 574309367192.dkr.ecr.us-west-2.amazonaws.com/rfng-mysql:latest
    platform: linux/arm64/v8
    container_name: rfng-mysql
    restart: always
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: devrfng
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    networks:
      rfng-net:
        ipv4_address: 172.50.1.4

  rfng-gw-service:
    platform: linux/arm64/v8
    container_name: rfng-gw
    build:
      context: api_gw
      dockerfile: Dockerfile.local
    restart: always
    volumes:
      - ./api_gw:/rfng-gw
    ports:
      - "4000:4000"
    networks:
      rfng-net:
        ipv4_address: 172.50.1.5

networks:
  rfng-net:
    ipam:
      driver: default
      config:
        - subnet: 172.50.0.0/16

volumes:
  mysql_data:
  mongodb_data:
  rfng_logs:

# Info
# docker-compose up -d
# docker exec -it rfng-frontend  /bin/sh
