version: '3.8'

services:
  rfng-backend-service:
    platform: ${PLATFORM}
    build:
      context: backend
    restart: always
    container_name: rfng-backend
    command: sh -c "cd /app/ && npm install && npm run local-start"
    volumes:
      - ./backend:/app
      - ./backend/node_modules:/app/node_modules
      - rfng_logs:/app/logs
    ports:
      - '3100:3100'
    depends_on:
      - rfng-mongodb-service
      - rfng-mysql-service
    environment:
      - NODE_ENV=development
    networks:
      rfng-net:
        ipv4_address: 172.50.1.1

  rfng-frontend-service:
    platform: ${PLATFORM}
    build:
      context: frontend
    container_name: rfng-frontend
    command: sh -c "cd /app/ && npm install && npm start"
    volumes:
      - ./frontend:/app
      - ./frontend/node_modules:/app/node_modules
    depends_on:
      - rfng-backend-service
    ports:
      - '3000:3000'
    networks:
      rfng-net:
        ipv4_address: 172.50.1.2
  #
  rfng-mongodb-service:
    platform: ${PLATFORM}
    build:
      context: dockerFiles/mongo
    container_name: rfng-mongodb
    restart: always
    volumes:
      - mongodb_data:/data/db
    ports:
      - '27018:27017'
    networks:
      rfng-net:
        ipv4_address: 172.50.1.3
  #
  rfng-mysql-service:
    platform: ${PLATFORM}
    container_name: rfng-mysql
    build:
      context: dockerFiles/mysql
    restart: always
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: devrfng
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - '3307:3306'
    networks:
      rfng-net:
        ipv4_address: 172.50.1.4
  #
  rfng-gw-service:
    platform: ${PLATFORM}
    container_name: rfng-gw
    build:
      context: api_gw
    command: sh -c "cd /rfng-gw/ && npm install && npm run dev"
    restart: always
    volumes:
      - ./api_gw:/rfng-gw
    environment:
      - NOTIFICATIONS=http://rfng-notifications:4000
    ports:
      - '4000:4000'
    networks:
      rfng-net:
        ipv4_address: 172.50.1.5

  rfng-notifications:
    container_name: rfng-notifications
    build:
      context: apps/notifications
    command: sh -c "cd /notifications/ && npm install && npm run dev"
    restart: always
    volumes:
      - ./apps/notifications:/notifications
    environment:
      - LARAVEL_URL=http://laravelapi
    ports:
      - 3101:4000
    networks:
      rfnet:
        ipv4_address: 172.50.1.6

networks:
  rfng-net:
    ipam:
      driver: default
      config:
        - subnet: 172.50.0.0/16

volumes:
  mysql_data:
  mongodb_data:
  rfng_logs:
